<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 모드</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div class="header-content">
            <h1>관리자 모드</h1>
            <p>주문 내역을 관리하세요!</p>
        </div>
    </header>

    <main>
        <div class="order-form">
            <form method="POST" action="{{ url_for('admin_action') }}">
                <label for="password">관리자 비밀번호:</label>
                <input type="password" id="password" name="password" required placeholder="비밀번호를 입력하세요">

                <div class="buttons">
                    <button type="submit" name="action" value="view_orders" class="button">직접 수령 주문 내역 보기</button>
                    <button type="submit" name="action" value="co" class="button">배달 수령 주문 내역 보기</button>
                </div>
            </form>
        </div>
    </main>

    <footer>
        <p>&copy; 2025 안양축산농협. All rights reserved.</p>
    </footer>
</body>
</html>
