<!-- co.html -->
<!DOCTYPE html>
<html>
<head>
    <title>배달 주문 내역 확인</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>배달 주문 내역 확인</h1>
    <ul>
        {% if delivery_orders %}
            {% for orders in delivery_orders.values() %}
                {% for order in orders %}
                    <li>
                        주문자: {{ order.customer.name }} / 지점: {{ order.customer.branch }}<br>
                        주문자: {{ order.sender.name }} / 연락처: {{ order.sender.contact }} / 주소: {{ order.sender.address }}<br>
                        수령자: {{ order.receiver.name }} / 연락처: {{ order.receiver.contact }} / 주소: {{ order.receiver.address }}<br>
                        실적인정번호: {{ order.recognition_number }}<br>
                        {% for detail in order.details %}
                            {{ detail.item }} - {{ detail.quantity }}개 ({{ detail.price }}원)<br>
                        {% endfor %}
                        총 금액: {{ order.total_price }}원 <!-- 배송비가 이미 포함되어 있습니다. -->
                    </li>
                    <form method="POST" action="{{ url_for('delete_delivery_order', customer_id=order.customer.id, order_index=loop.index0) }}">
                        <button type="submit">주문 삭제</button>
                    </form>
                    
                {% endfor %}
            {% endfor %}
        {% endif %}
    </ul>
</body>
</html>

